<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Форма</title>
    <!-- Підключаємо CSS -->
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>

    <!-- Картинка-кнопка для відкриття модального вікна -->
    <img src="../static/programuvania.jpg" alt="kartuna" id="openModalBtn" class="open-modal-image">

    <!-- Модальне вікно -->
    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close" id="closeBtn">&times;</span>
            <div class="container" id="emailFormContainer">
                <h2>Надіслати Email</h2>
                <form id="emailForm" action="/send_email" method="POST">
                    <div>
                        <label for="email">Отримувач:</label>
                        <input type="email" id="email" name="email" required>
                        <div class="error" id="emailError"></div>
                    </div>

                    <div>
                        <label for="message">Повідомлення:</label>
                        <textarea id="message" name="message" required></textarea>
                        <div class="error" id="messageError"></div>
                    </div>

                    <button type="submit">Надіслати</button>
                </form>
                <!-- Повідомлення про статус -->
                <div id="statusMessage"></div>
            </div>
        </div>
    </div>

    <!-- Акордеон з питаннями та відповідями -->
    <div class="accordion">
        <h3 class="accordion-item">Що таке JavaScript?</h3>
        <div class="accordion-content">
            <p>JavaScript — це мова програмування, що використовується для створення інтерактивних веб-сайтів.</p>
        </div>

        <h3 class="accordion-item">Що таке HTML?</h3>
        <div class="accordion-content">
            <p>HTML — це стандартна мова розмітки для створення веб-сторінок.</p>
        </div>

        <h3 class="accordion-item">Що таке CSS?</h3>
        <div class="accordion-content">
            <p>CSS — це мова стилів, яка використовується для оформлення веб-сторінок.</p>
        </div>
    </div>

    <!-- Підключаємо JS -->
    <script src="../static/script.js"></script>
</body>
</html>
